.pageContainer {
    height: 100%;
}

/* PDF Characteristics */

.pdf {
    display: none;
    position: absolute;
    outline: #d6d6d6 dotted medium;
    width: 80%;
}

.currentPDF {
    display: block;
}

.pdfContainer {
    position: relative;
}

/* Image storage and behavior */

.scrollBox {
    height: 500px; 
    overflow: auto;
}

.resizeWrapper {
    display: inline-block;
}

.pdfChild{
    
}

.currentPDFchild {
    outline: #a1ffa1 solid 5px;
}

/* DropDown menus */
.paperSize {
}

.facility {
    left: 0px;
}

/* Testing -- remove for production */

p {
    width: 20em
    hight: 1em
}

.col-md-6 {
    display: inline-block;
}

.buffer {
    height: 20px;
}