.pdf {
    display: none;
    position: absolute;
}

.Amer {
    outline: #d6d6d6 dotted medium;
    width: 95%;
    height: 500px;
}

.Euro {
    outline: #d6d6d6 dotted medium;
    width: 80%;
    height: 400px;
}

.current {
    display: block;
}

.pdfContainer {
    position: relative;
}

.scrollBox {
    height: 500px; 
    overflow: auto;
}

.paperSize {
    left: 0px;
    position:absolute;
}